accessify==0.3.1
alembic==1.10.1
anyio==3.6.2
asgiref==3.6.0
attrs==22.2.0
autobahn==23.1.1
Automat==22.10.0
certifi==2022.12.7
cffi==1.15.1
channels==3.0.4
charset-normalizer==3.1.0
constantly==15.1.0
coreapi==2.3.3
coreschema==0.0.4
cryptography==39.0.0
daphne==3.0.2
DAWG-Python==0.7.2
defusedxml==0.7.1
Django==3.2.8
django-cors-headers==3.8.0
django-elasticsearch-dsl==7.3
django-elasticsearch-dsl-drf==0.22.5
django-nine==0.2.7
django-phonenumber-field==7.0.2
django-shortuuidfield==0.1.3
django-templated-mail==1.1.1
djangorestframework==3.12.4
djangorestframework-simplejwt==4.8.0
djantimat==0.1.3
djoser==2.1.0
docopt==0.6.2
drf-standardized-errors==0.12.4
elasticsearch==7.17.9
elasticsearch-dsl==7.4.1
fastapi==0.93.0
greenlet==2.0.2
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
itypes==1.2.0
Jinja2==3.1.2
Mako==1.2.4
MarkupSafe==2.1.2
numpy==1.24.2
oauthlib==3.2.2
packaging==23.0
pandas==1.5.3
phonenumbers==8.13.4
Pillow==8.3.2
psycopg2==2.9.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydantic==1.10.5
PyJWT==2.6.0
pymorphy2==0.9.1
pymorphy2-dicts==2.4.393442.3710985
pymorphy2-dicts-ru==2.4.417127.4579844
pyOpenSSL==23.0.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python3-openid==3.2.0
pytz==2022.7
requests==2.28.2
requests-oauthlib==1.3.1
service-identity==21.1.0
shortuuid==1.0.1
signals==0.0.2
six==1.16.0
sniffio==1.3.0
social-auth-app-django==4.0.0
social-auth-core==4.4.0
SQLAlchemy==2.0.5.post1
sqlparse==0.4.3
starlette==0.25.0
Twisted==22.10.0
twisted-iocpsupport==1.0.2
txaio==23.1.1
typing_extensions==4.4.0
tzdata==2022.7
uritemplate==4.1.1
urllib3==1.26.15
xlwt==1.3.0
zope.interface==5.5.2
